/*main 1250 for tablet*/
#co_mainContainer.nomobile {
    min-width: 1250px !important;
}
    

/*main login*/
.textInputs{margin-top:5px}
.textInputs li{display:inline-block}
.textInputs li:first-child{margin-right:5px}
.textInputs input[type="text"],.textInputs input[type="password"]{border:0;width:114px;height:26px}
#savePassword label{display:inline-block;height:25px;font-size:12px;vertical-align:middle;line-height:24px;color:#474747}
#submitDiv{position:absolute;right:0;top:5px}
#submitDiv input[type="submit"]{border:1px solid #e86312;height:30px;width:70px;background-color:#f37021;color:#fff;cursor:pointer}
#links li{display:inline-block;margin-bottom:5px }
.login_info ul#links li + li{position:relative; top: 0;left:0; text-align:left;margin-left:7px}
.signonlinks{font-size:13px}
#newSession,#clientsIdUsageReportContainer{font-size:13px}
.ip_txt{display:block;height:20px;color:#000;font-size:14px;margin-bottom:10px}
/*end*/
.main #container{width:1200px;min-width:1200px;background-color:#fff; margin: 20px auto; border:none; }

.main #container section{float:left;box-sizing: border-box;position:relative}
.main #container section.left_colum{width:780px; margin: 0 10px;} 
.main #container section.left_colum::after {clear:both; display:block; content:'';}
.main #container section.right_colum{width:380px; margin: 0 10px;}
.mobile .main #container{width:100%;min-width:100%; margin:0 auto;}
.mobile .main #container section.right_colum{display:none}
.mobile .main #container section.left_colum{width:100%;border-right:0;margin: 10px 0;}


.mobile .main .etc_menu{min-width:100%}
.mobile .banner_area{display:none}
.mobile .whats_on { display:none;}
.mobile .lawnb_editor{padding:0 10px; border: 0}
.mobile .main .map_inner{width:100%}
#container:after{display:block;clear:both;height:1px;margin-top:-1px;content:''}
.topic_area{padding:10px 20px;width:100%}
.topic_area div:first-child{background-color:#ffe2c4;height:45px;text-align:left;line-height:43px;width:100%;position:relative}
.topic_area div:first-child h2{margin-left:15px;font-size:16px;font-weight:bold}
.topic_area div:first-child > div{position:absolute;right:15px;top:0;font-size:14px}
.topic_area ul{background-color:#fefbf9;padding:20px}
.topic_area ul li{width:20%;font-size:14px;float:left;text-align:left;padding-left:5px;height:28px}
.topic_area ul li a{color:#005da2;font-weight:bold;text-decoration:none}
.topic_area ul:after{display:block;clear:both;height:1px;margin-top:-1px;content:''}
.banner_area{width:780px; height:125px; overflow:hidden; float:left;margin-top: 18px;}
.banner_area img {width:780px;height: 115px;}

.lawnb_editor{border: 1px solid #ddd;width: 100%;min-height: 347px; /*높이 임시*/}
.lawnb_editor h2{position:relative;height:36px;line-height:36px;font-weight:bold;text-align:left;color:#fff;background-color:#f06600;font-size: 16px;padding-left:22px;width:100%;box-sizing: border-box; display:none;}
.lawnb_editor h2 span{position:absolute;right:0;top:0;cursor:pointer;border-left:1px solid rgba(255,255,255,0.4);font-size:14px;font-weight:normal;padding:0 15px;color:rgba(255,255,255,0.87)}
.lawnb_editor h2 span:hover{background-color:rgba(255,255,255,0.2);color:#fff}
.lawnb_editor section { float:none !important;} 
.mobile .lawnb_editor h2 {display: block;}
.mobile .lawnb_editor {  min-height:auto; /*높이 임시*/}

.mobile .ac .lawnb_editor h2 {background-color: #6e9934;}

.lawnb_editor .main_issue {
    padding:0;
    position: relative;
}


/*  Tab Area
.box_main_tap {text-align: left; height: 65px; border-bottom: 1px solid #ddd; margin-bottom: 20px; position:relative;}
.main_tap {position:relative;}
.main_tap li {float:left;  width:22px;}
.main_tap li h3 {position:absolute; top:0; left:0; font-size:16px; font-weight: bold; z-index:2; color:#aaa;}
.main_tap_backTitle {position:absolute; top:0; left:0; font-size:16px; font-weight: bold; z-index:1;  color:#aaa;}
.main_tap li:nth-of-type(-n+5) h3 {opacity: 0;} 
.main_tap li:nth-last-child(-n+2) { position:relative; width:122px;}
.main_tap li:nth-last-child(2) {margin-left:60px;}
.main_tap li span {margin-top:30px; display:block; font-size:12px; color:#ddd; cursor:pointer;}
.main_tap li.on h3 {opacity:1 !important; color:#20547f; background:#fff;}
.main_tap li.on span {color:#20547f;}
*/

/* Tab2 Area*/
.main_tap {}
.main_tap .main_tap_list {}
.main_tap .main_tap_list li {width:33.3%;float: left;}
.main_tap .main_tap_list::after {display:block; clear:both; content:'';}
.main_tap .main_tap_list li a {display:block; width:100%;font-size: 14px;font-weight:bold;height: 44px;line-height: 44px;background: #eee;border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.main_tap .main_tap_list li:first-child a {border-left:none;}
.main_tap .main_tap_list li.on a {background:none; border-bottom: 1px solid #fff; color: #20547f}

.main_lawnb_editor, .main_lawnb_ten, .main_lawnb_onju {padding: 24px 45px 0 45px;text-align: left;}
.main_lawnb_ten, .main_lawnb_onju {display: none;}

/*  Lawnb Editor  */
.main_issue .issue_tit {padding: 0px;line-height: normal;font-size: 16px; width: calc(100% - 150px); height: 25px; overflow: hidden;}
.main_issue .issue_tit a{font-size:16px; color:#20547f;font-weight:bold; padding:0;  letter-spacing: -0.5px;}
.main_issue .issue_comment{background-color: #fff;padding: 0;margin: 0 0 10px 0; min-height:auto;/* overflow: hidden; */height: 60px;}
.main_issue .issue_comment div {display: -webkit-box;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;float: left;width: calc(100% - 173px); line-height: 190%; height:50px;}
.main_issue .issue_comment .img{float:right;margin-left:20px;margin-top: -28px; width: 140px; height: 83px;}
.main_issue .issue_comment:after {display:block; content:''; clear:both;}
.main_issue .issue_tag {margin-top: 20px;}
.main_issue .issue_tag a {color:#20547f; margin-right:20px;}

/*  Tab Area Conmon    */
.main_issue ul.issue_reference, .ten_list, .onju_list {line-height:180%} 
.main_issue ul.issue_reference li, .ten_list li, .onju_list li{overflow:hidden;white-space: nowrap;text-overflow: ellipsis;word-wrap:break-word;margin-bottom: 4px;}
.main_issue ul.issue_reference li span, .ten_hl_tit span, .ten_list li span, .onju_hl_tit span, .onju_list li span  {display:inline-block;color:#555;font-size: 12px;width: 90px;text-align: center;background: #ddd;margin-right: 10px;border-radius: 15px; vertical-align: bottom;}

.main_issue ul.issue_reference li:last-child, .ten_list li:last-child, .onju_list li:last-child { display:none;}
.main_issue ul.issue_reference li:nth-last-of-type(2), .ten_list li:first-child, .onju_list li:first-child {display: none}
/* .main_issue ul.issue_reference li:nth-last-of-type(2), .ten_list li:nth-last-of-type(2), .onju_list li:nth-last-of-type(2) { display:none;} */

/*  Lawnb Editor  Mobile */
.mobile .main_tap { display: none;}
.mobile .main_issue .issue_tag { display:none;}
.mobile .main_lawnb_ten, .mobile .main_lawnb_onju {display:none !important}
.mobile .main_lawnb_editor { padding:0; display:block !important;}
.mobile .lawnb_editor .main_issue{border:0;border-bottom:6px solid #eaeaea;padding:10px;}
.mobile .main_issue .issue_comment{height:auto}
.mobile .main_issue .issue_comment div{ width: calc(100% - 210px);  height:135px}
.mobile .issue_comment .img{float:right;width: 180px; height:110px; margin-top: auto;}
.mobile .lawnb_editor .main_issue .issue_comment div {-webkit-line-clamp: 5; }
.mobile .ac .issue_comment .img {display:none;}
.mobile .ac .issue_comment div {width:100%; height:auto;}

/* 이전 다음 버튼 */
.box_main_preNext {}
.box_main_preNext a {display: block; padding: 5px 8px 7px; background: #fff; border-radius: 20px; position: absolute; box-shadow: 0 2px 3px #777; text-decoration: none; cursor:pointer}
.box_main_preNext a .icon- {font-weight: bolder;  color: #999;}
.box_main_preNext .btn_Issue_prev {left: -17px;}
.box_main_preNext .btn_Issue_next {right:-12px;}
.box_main_preNext a:hover .icon- {color:#20547f;}
.mobile .box_main_preNext { display:none;}

.login_area .box_main_preNext {font-size:8px;}
.login_area .box_main_preNext .btn_Issue_prev {padding: 4px; left: -10px; bottom:7px;}
.login_area .box_main_preNext .btn_Issue_next {padding: 4px; right: -10px;  bottom:7px;}

/* 대학 관련 */
.ac .lawnb_editor {border-top: 6px solid #6e9934;}
.ac .login_area .box_main_preNext {display:none;}
.ac .edu_ad {display:none;}
.ac .notice_box ul, .ac .news_area ul {margin-top: 20px}
.ac .notice_box ul li, .ac .news_area ul li {height: 31px;}
.ac .right_colum section:nth-last-child(2) { border-bottom:none;}


/* 천자평석 */
.main_lawnb_ten {}
.main_lawnb_ten .ten_hl {padding:20px; margin:0 -20px; background-color:#f6f6f6; margin-bottom:15px } 
.main_lawnb_ten .ten_hl .ten_hl_tit {line-height:180%; margin-bottom:10px; overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis; word-wrap: break-word;}
.main_lawnb_ten .ten_hl .ten_hl_tit a {color:#20547f; font-weight:bold; font-size:14px; }
.main_lawnb_ten .ten_hl .ten_hl_con {font-size: 14px;color: #666;line-height: 200%;height: 50px;display: -webkit-box;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.main_lawnb_ten .ten_hl .ten_hl_con b {font-weight:normal; display: block;} 
.main_lawnb_ten .ten_hl_tit span, 
.main_lawnb_ten .ten_list span {background:#20547f; color:#fff;}
.main_lawnb_ten .ten_list a {color:#20547f;}

/*최신온주 */
.main_lawnb_onju {}
.main_lawnb_onju .onju_hl {padding:20px; margin:0 -20px; background-color:#f6f6f6; margin-bottom:15px } 
.main_lawnb_onju .onju_hl .onju_hl_tit {line-height:180%; margin-bottom:10px; overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis; word-wrap: break-word;}
.main_lawnb_onju .onju_hl .onju_hl_tit a {color:#20547f; font-weight:bold; font-size:14px; }
.main_lawnb_onju .onju_hl .onju_hl_con {font-size: 14px;color: #666;line-height: 200%;height: 50px;display: -webkit-box;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.main_lawnb_onju .onju_hl_tit span, 
.main_lawnb_onju .onju_list span {background:#20547f; color:#fff;}
.main_lawnb_onju .onju_list a {color:#20547f;}


.list_issue {margin: 5px 0 30px;vertical-align: top;font-size: 0;display: none;}
.list_issue a{position:relative;display:inline-block;width:calc(100% / 5 - 4px);font-weight:bold;padding:5px 10px;text-align:left;float:left;font-size:13px;color:#005da2;margin-right:5px;border:2px solid #d6d6d6;height:90px;padding-right: 5px;line-height:140%;box-sizing: border-box;overflow:hidden}
.list_issue a._this{border-color:#eaeaea;background-color:#eaeaea }
.list_issue a:hover{text-decoration:none;border-color:#a1a1a1}
.list_issue a:last-child{margin-right:0}
.list_issue a._this:before{position:absolute;top:-8px;left:-2px;width:143px;height:10px;background-color:#eaeaea;content:''}
.list_issue a._this:hover:before{border-left:2px solid #a1a1a1;border-right:2px solid #a1a1a1;box-sizing: border-box}
.list_issue:after{display:block;clear:both;height:1px;margin-top:-1px;content:''}

.login_area{background:#f6f6f6;width:100%;min-height:148px;padding:16px 20px 40px;font-size:0;text-align:left; border:1px solid #ddd; margin-bottom:20px;}
.login_area h2{display:none}
.login_area .btnSet_login {position: absolute;width: 100%;height: 34px;overflow: hidden;left: 0;bottom: -1px;}
.login_area .btnSet_login div {width: 152%;left: -1px;position: absolute; transition: 0.5s;}
.login_area .btnSet_login span {display: inline-block;cursor: pointer;border: 1px solid #ddd;background-color: #f6f6f6;font-size: 12px;height: 34px;line-height: 34px;text-align: center;width: 96px;margin-right: -1px;}
.login_area .btnSet_login span a{color:#212121}
.login_area .btnSet_login span:last-child{margin-right:0}
.login_area .btnSet_login span .regist{letter-spacing: -1px;}
.ac .login_area .btnSet_login span {width:128px;}


.login_box {}
.login_box .ip_txt{ display:none;}
.login_box .login_btn{height:51px; margin-bottom:12px;}
.login_box .login_btn a {display: block;background-color: #20547f;font-size: 16px;color: #fff !important;width: 100%;height: 51px;line-height: 51px;text-align: center;margin: 0 auto;}

.login_area .login_btn_sns {}
.login_area .login_btn_sns  a {padding: 0 10px 0 25px;background-size: 16px;background-position: 2px 1px;background-repeat: no-repeat;font-size: 12px;}
.login_area .login_btn_sns .btn_kakao {background-image: url(../images/lawnbnext/icon_kakao.png);}
.login_area .login_btn_sns .btn_naver {background-image: url(../images/lawnbnext/icon_naver.png);}
.login_area .login_btn_sns .info_sns {display:inline-block; vertical-align:top;}
.login_area .login_btn_sns .info_sns i {font-size:17px; color: #20547f;}
.login_area .login_btn_sns .info_sns i #T_snsLogin_Info { left: 10px; top: 15px;}
.login_area .login_btn_sns .info_sns i .miju_box_line { width: 150px; text-align: center;}



.login_info a[target="member_regist"], .login_info li button {color: #fff !important;background: #20547f;display: inline-block;margin-left: 4px;border: none;padding: 0px 6px;line-height: 20px;  font-size: 12px; vertical-align: baseline;}

.login_info{position:relative;}
.login_info ul{list-style:none;font-size:12px;padding-left:5px;margin-bottom:5px}
.login_info ul li{line-height:28px}
.login_info ul li + li { /*position:absolute;top:0;right:80px;text-align:right*/}
.login_info ul li + li + li { /*position:relative;left:0;text-align:left*/ }
.login_info ul li span{color:#d71345;font-weight:bold}
.login_info ul li b{font-family:knowledge-text-n4,knowledge,Arial,sans-serif;font-size:13px}
.login_info .btn_set{position:absolute;top:0;right:0px;width:70px}

.login_ip ul { margin-top:-5px}
.login_ip ul li {line-height:22px}

.btn_set span {display: inline-block;text-align: center;padding: 8px 0px;background-color: #dcdcdc;width: 70px;color: #60534f;font-size: 13px;cursor: pointer;}
.btn_set.ip span{line-height:16px;padding-top: 6px;background-color:#dce4ec;color:#212121}
.btn_set span a{color:#60534f}

.tel_area { border:1px solid #ddd; height:60px; line-height: 22px; width: 100%; margin-bottom:20px; padding-top: 5px;}
.tel_area div{font-size:12px;display:inline-block; text-align:center; margin:0 6px; letter-spacing: 0.6px;}
.tel_area div em{font-weight:bold; color:#20547f;}


/* notice, news, edu common */
.main #container section.right_colum section:last-child{ border-bottom:none;}

.notice_box, .news_area, .edu_ad {width: 100%; margin-bottom:20px; padding-bottom: 10px;}
.notice_box h2, .news_area h2,.lawyer_area h2,.edu_ad h2{font-size:14px;text-align:left; color:#666;}
.notice_box h2 span, .edu_ad h2 span,.news_area h2 span{float:right;cursor:pointer;font-size:12px;font-weight:normal;padding-top:5px }
.notice_box ul, .news_area ul, .edu_ad ul{text-align:left; margin-top:17px}
.notice_box ul li, .news_area ul li, .edu_ad ul li {height:28px;text-align:left;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;word-wrap:break-word}
.notice_box ul li a, .news_area ul li a, .edu_ad ul li a { color:#666;}
.notice_box, .news_area { border-bottom:1px solid #ddd;}
.notice_box ul li:nth-child(3) a {/*color: #c24141;*/}
.notice_box .notice_point a {color: #c24141 !important; font-weight:bold;}
.edu_ad ul li { height:auto; margin-bottom:5px;} 
.edu_ad ul li span {margin-right: 10px;background: #20547f; height: 36px; width: 48px;display: inline-block;float: left;color: #fff; text-align: center;line-height: 36px;}
.edu_ad ul li div {margin-left: 57px;font-size: 12px; color: #999;margin-top: 4px;}
.notice_box {}
.news_area dl{margin-top: 20px;}
.news_area dl dt{float:left;width:90px;text-align:left;margin-bottom:10px;}
.news_area dl dt img{width:72px}
.news_area dl dd {text-align:left;overflow:hidden}
.news_area dl:after {display:block;clear:both;height:1px;margin-top:-1px;content:''}
.banner_side{padding:0 20px 10px 20px;overflow:hidden}
.banner_side div{display:inline-block}
.banner_side div:first-child{margin-right:6px}
.temp_noti div{display:block;text-align:left;padding-left:10px;padding-top:10px;width:374px;padding-bottom:10px;border-bottom:1px solid #eee}
.temp_noti div a{font-weight:bold;color:#005da2}
.temp_noti div span{display:inline-block;font-size:small;background-color:#005da2;color:#fff;border-radius:3px;padding:1px 4px;margin-right:5px}
.temp_noti li{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;word-wrap: break-word;max-height:25px}
.temp_noti li:last-of-type span{margin-top:5px}

/* What's on LawnB*/
.whats_on {margin-top: 10px; width:100%; }
.whats_on h2 {font-size: 14px;text-align: left;color: #666;margin-bottom: 17px; display:none;}
.whats_on_banner {margin-bottom: 20px;}
.whats_on_banner::after {display: block;content: '';clear: both;}
.whats_on_banner li {position:relative;box-sizing: border-box;float: left;width: 253px;margin-left: 10px;border: 1px solid #dadada;padding: 15px;text-align:left;cursor:pointer;transition:0.1s;}
.whats_on_banner li:hover, .whats_on_banner li.on {border: 1px solid #20547f;padding: 15px;}
.whats_on_banner li.on::after {content: '';display: inline-block;position: absolute;border: 10px solid transparent;border-top-color: #20547f;bottom: -21px;left: 48%;}
.whats_on_banner .what_icon { position:absolute; top:10px; right:11px;}
.whats_on_banner li h3 { height: 56px;}
.whats_on_banner li p {font-size:12px;  letter-spacing:-1px; color:#7f7f7f;}
.whats_on_banner li:first-child {margin-left: 0px;}
.what_on_video1, .what_on_video2, .what_on_video3, .what_on_video4 {height: 0.01px;opacity:0;overflow: hidden;transition: 0.5s ease-in-out;}
.show_whats_video {opacity:1;height:480px;}

.only_ac {display:none;}
.ac .only_ac { display:block;}
.ac .whats_on_banner.only_normal {display:none;}
.ac .whats_on_banner li {width:253px /*  385px; */}

/*베타안내*/
#content_overview2 .main_container{line-height:220%;background:linear-gradient(#dce4ec 3%,#fff 40%,#fff 45%);height:auto !important}
#content_overview .main_container{line-height:220%;background:linear-gradient(#dce4ec 3%,#fff 40%,#fff 45%);height:auto !important}
.info_popup .title{font-weight:bold;position:relative;font-size:18px;padding:10px;background-color:#dce4ec}
.info_popup .title em{font-weight:normal;font-size:16px}
.info_popup .title .btn_close_pop{font-size:15px;font-weight:normal;position:absolute;top:10px;right:10px;cursor:pointer}
.btn_s_close{font-size:15px;font-weight:normal;position:absolute;top:10px;right:65px;cursor:pointer}
.info_popup .cont{padding:20px 10px 0;line-height:180%}
.info_popup .cont.list{padding-top:0;padding-bottom:20px}
.info_popup .cont.list div{font-size:14px;padding-left:30px;text-indent:-20px} 
.btn_area span{display: inline-block;background-color: #ff5900;border-radius: 20px;color: #fff;font-size: 17px;margin: 10px;padding: 0 30px;height: 40px;line-height: 35px;cursor: pointer;}
span.dt{display:inline-block;padding-left:20px;}
span.dt:before{content:'Â· '}
#content_overview div.tab{position:absolute;top:50px;left: 50%;width:490px;text-align: right;z-index: 1}
#content_overview div.tab span{display:block;float:right;width:490px;padding-right:10px;height:50px;border-radius: 5px;text-align:right; background-color:#ccc;line-height:50px;margin-bottom:5px;cursor:pointer} 
#content_overview div.tab span._this{background-color:#ff8000;color:#fff}
#content_overview2{position: absolute;top:75px;left: 0;width: 100%;height: 100%;z-index: 1000010}
.icon_info_area{position:absolute;top:0;left:0}
#content_overview2 .cont {position:relative}
#content_overview2 .title{text-align:center;margin-top:30px}
#content_overview2 .cont div.icon_info_area{position:absolute;top:30px;left:50px}
#content_overview2 .cont i{font-size:44px !important; }
#content_overview2 .cont .box_out{padding-left:100px}
#content_overview2 .link_area{margin-top:40px;padding-top:20px;border-top:1px solid #ccc;padding-left:40px}
#content_overview2 .link_area a{color:#0083bf}
#content_overview2 .link_area span{display:inline-block;width:5px;height:5px;border-radius:50%;background-color:#0083bf;vertical-align:middle;margin-right:3px}
#content_overview2 .ac .btn{background: #ff5900;font-size: 16px;border: 1px;color: #fff;padding: 6px 22px;line-height: 22px;border-radius: 20px;font-weight: bold;cursor: pointer}
.mobile .lawnb_editor .main_issue{float:right;width:78%}
.mobile .list_issue {display:block; }
.mobile .list_issue a{width:100%;height:70px;margin-bottom:10px}
.mobile .list_issue{float:left;width:20.1%;padding-top:5px}
.mobile .list_issue a._this:before{background-color:transparent}
.mobile .list_issue a._this:hover:before{border:0}

/*나중에 main NUniversity class 로 바꿀 것 */
.ac .law_news ul li:last-child, .ac .law_news ul li:nth-last-of-type(2) {display:none;}

@media screen and (max-width:768px) {
.mobile .lawnb_editor .main_issue{float:none;width:100%}
.mobile .list_issue{float:none;width:100%} 
.mobile .list_issue a{width:100%;border:0;float:none;height:auto;font-size:15px;margin-bottom:0} 
.mobile .list_issue a._this:before{background-color:transparent}
.mobile .list_issue a._this:hover:before{border:0}
}