@charset "utf-8"; 

.main #container{background-color:#fff;text-align: left}
.tab_area{width:100%;height:42px;border-bottom:1px solid #e3e3e3;font-size:0;background-color:#e3e3e3}
.tab_area li{color:#4b4b4b;display:inline-block;width:50%;font-size:16px;font-weight:bold;background-color:#e3e3e3;text-align:center;line-height:41px}
.tab_area li.selected{background-color:#f3f3f3;color:#212121}
#content{margin:20px auto;text-align:left;max-width:500px}
.box_input_area{position:relative}
.box_input_area input[type="text"],.box_input_area input[type="password"]{width:70%;background-color:#f0f0f0;border:0;padding:10px;color:#737373;border-radius:5px;margin-bottom:10px}
span.btn_login{position:absolute;right:0;top:0;background-color:#f06600;text-align:center;color:#fff;display:block;width:26%;height:86px;line-height:84px;border-radius:5px;font-weight:bold}
.auto_login_check{font-size:13px;color:#444;position:relative}
.another_login{position:absolute;right:0;bottom:3px;font-size:13px;color:#444} 
.info_txt{margin-top:20px;font-size:14px;color:#4444}
.info_txt dt{font-weight:bold;font-size:16px;margin-bottom:10px;color:#333}
.info_txt dd{margin-bottom:5px;line-height:160%;color:#333}
.info_txt dd:last-child{padding-top:5px;letter-spacing:-1px}
.btn_regist_device{margin-top:5px}
.btn_regist_device a{color:#005da2}
.submit_btn{display:inline-block;background-color:#333;color:#fff !important;text-align:center;height:38px;width:48px;line-height:38px;border-radius:5px;margin-bottom:10px;vertical-align: middle}
.grouping{padding-bottom:20px;border-bottom:2px solid #eee}
.btn_cancel{font-size:13px;text-align:right;text-decoration:underline}
.step-indivi-2 .box_input_area input[type="text"]{width:80%}
.step-group-2 .box_input_area input[type="text"]{width:100%}
.grouping p{font-size:17px;font-weight:bold;margin-bottom:10px}
.step-group-2 .submit_btn{width:80px;margin:10px auto}
.txt.dot{padding-left:10px;text-indent:-8px;margin-bottom:10px}
.txt.dot em{display:inline-block;width:3px;height:3px;background-color:#333;border-radius:50%;margin-right:5px;vertical-align:middle}
.result_box{background-color:#f1f8f9;padding:10px;line-height:200%}
.result_box label{display:inline-block;width:80px}
.result_box span{display:inline-block;margin-right:10px}
.email_area .submit_btn{width:48px}
.email_area input[type="email"]{height:38px;width:80%}
.erroe-txt{font-size:15px;font-weight:bold;margin-bottom: 15px;line-height: 160%}
.erroe-txt span{font-size:14px;font-weight:normal;color:#555} 
#group-member{display:none}
.group-member{display:none}
.step-group-2 #group-member,.step-group-2 .group-member{display:block} 
.btn-group{position: relative;bottom: -7px;right: 0;text-align: right;font-size: 13px;font-weight: normal}
.btn-group span{background-color:#eee;font-size:12px;display:inline-block;padding:0 10px;line-height:24px}
.btn_logingo{text-align: center;margin: 0 auto;margin-top: 10px;background-color: #ff5900;width: 100px;padding:7px 0}  
.btn_logingo a{color:#fff}
@media screen and (max-width:480px) 
    { 
    #content{margin:20px 25px}  
    .btn-group{position:absolute;bottom:-7px;right:5px;font-size:13px;font-weight:normal}
}
@media screen and (max-width:360px) 
    {  
.btn-group{position: relative;bottom: -7px;right: 0;text-align: right;font-size: 13px;font-weight: normal}
}