@charset "utf-8";

body {background-color: #000; text-align: center; padding: 0; margin: 0;}
div img {}

.loading_img {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.loading_img img {
    width: 100px
}

#bg_screen {
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}